/* Resetear estilos por defectos */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:'Assistant', sans-serif;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: rgb(17,22,70);
}

h2{
    font-size: 2rem;
    text-align: center;
}

/* ESTILO DE PROYECTO 1 */
.container{
    display: flex;
    padding: 0 20%;
}

aside{
    width: 30%;
    background-color: rgb(17, 22, 70);
    padding: 2%;
    color: white;
}

main{
    width: 70%;
    background-color: rgb(243, 237, 237);
    padding: 2%;
}

.avatar img{
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 10px gray;
    margin-bottom: 10px;
}

.flex-container{
    display: flex;
}

.margin-titulo{
    margin: 40px 0 0 0;
    text-align: left;
       
}

.margin-icon{
    margin-right: 10px;
}

.margin-row{
    margin: 10px 0 10px 0;
}

.social a{
    width: 50px;
    margin: 3%;
    
}

.social img{
    width: 100%;
    
}

.social div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-justify{
    text-align: justify;
}
ul{
    margin-left: 5%;
}

@media print{
    .container{
        padding: 0;
    }

    .social a{
        flex-direction: column;
    }
}